table {
    width: 100%;    
}

mat-card{
    width: 80%;
    display: block;
    margin-left:auto;display: block;
    margin-left:auto;
    margin-right:auto;  
    margin-right:auto;  
}

.loading-spinner {
    padding: 25px;
    background: rgba(0,0,0,0.15) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-spacer {
    flex: 1 1 auto;
    padding-right: 1px;
}

.toolbar-padding-right {
  padding-right: 5px;
}

.button-row {
  padding-left: 1px;
  padding-right: 8px;
}


  